:root {
    --color-white: #f3f3f3;
    --color-orange: #ed9657;
    --color-darkred-alpha: #ee5126;
}
  
*,
*::before,
  *::after {
    box-sizing: border-box;
}
  
body {
    font-family: Poppins,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}
  
/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: var(--color-orange);
    background-image: linear-gradient(
        115deg,
        rgba(44, 18, 18, 0.8),
        rgba(11, 1, 1, 0.7)
      ),url("https://scontent.fbkk22-7.fna.fbcdn.net/v/t39.30808-6/356394899_754786883317740_1069804666016182958_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGGZD7NHoGAEq2lC2aruFaNynEjZI2iT8TKcSNkjaJPxD9lpA-__m3ZgyH10YGTtDcuyKHPFqivNCkAQck7qtzL&_nc_ohc=uwMjlCz1UjYQ7kNvgFiQU6e&_nc_ht=scontent.fbkk22-7.fna&oh=00_AYCzo4cESt8DfNNRp2NoNJgzlA1y-MkVaFgEblnaRgueLg&oe=6668BB55");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  
h1 {
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-white);
}
  
p {
    font-size: 1.125rem;
}
  
h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
  
label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
  
input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
  
button {
    border: none;
    padding: 10px;
    width: 100%;
}
  
.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}
  
.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}
  
.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
  
.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}
  
.text-center {
    text-align: center;
}
  
/*form*/
  
form {
    background: var(--color-darkred-alpha);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
}
  
.form-group {
    margin: 0 auto 1.20rem auto;
    padding: 0.25rem;
    max-width: 500px;
    min-width: 300px;
}
  
.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
  
.input-radio, .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}
  
.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}
  
.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--color-white);
    color: inherit;
    border: none;
    cursor: pointer;
}